[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
pytest = "*"
graphviz = "*"
pytest-playwright = "*"
jira = "*"
fastapi = "*"
uvicorn = "*"
retry = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
